<!--p>movie-tollydetails works!</p-->
<div class="bg">
    <div class="container" style="padding-top: 50px;color: white;">
        <a style="font-family: Georgia, 'Times New Roman', Times, serif; border-bottom: 1px solid black;font-size: 70px;">{{employee?.title1}}</a>
        <div class="row" >
            <div class="col-md-8">
        <p style="padding-top: 30px;font-size: larger;">{{employee?.plot}}</p>
        </div>
        <div class="col-md-3">
             <img src="{{employee?.src}}">
        </div>
        </div>
        <div class="row"  >
            <div class="col-3" >
        <h4 style="padding-top: 50px;">Directed by</h4>
        <h4>Produced by</h4> 
        <h4>Written by</h4>
        
        <h4>Music by</h4>
        <h4>Cinematography</h4>
      
        <h4>Production Company</h4>
       
        <h4>Release Date</h4>
      
        
        <h4>Language</h4>
        <h4>Starring</h4>
        
        </div>
        <div class="col">
            <h4 style="padding-top: 50px;">{{employee?.director1}}</h4>
            <h4>{{employee?.producer}}</h4> 
            <h4>{{employee?.director1}}</h4>
            
            <h4>{{employee?.music}}</h4>
            <h4>{{employee?.cinematography}}</h4>
            <h4>{{employee?.studio1}}</h4>
            <h4>{{employee?.release}}</h4>
            <h4>{{employee?.lang}}</h4>
            <h4>{{employee?.starring}}</h4>
           
            <h4></h4>
          
            </div>
        </div>
    </div>
    </div>
    