<div class="total">
<div class="headline"><img class="im1" src="https://cdn2.iconfinder.com/data/icons/cinema-hall-and-movie-making/50/21-512.png">
    <h3 class="line">CINEMAPEDIA</h3>
    
    
        <form class="form-inline">
         
          <input class="form-control mr-sm-2 box" type="search" placeholder="Film" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0 " style="font-family: 'Sofia'; background-color: brown;" type="submit">Search</button>
        </form>
      </div>
<div class="container " style="background-color: gainsboro;">
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  style="height: 450px;width: 100%;" [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  style="height: 450px;width: 100%;" [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img style="height: 450px;width: 100%;" [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p >Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
<br>
  <h1 style="font-family: 'Alex Brush';font-size: 35px; color: rgb(1, 32, 6); text-align: center;"> We create impactful filmy experiences that attract and engage.</h1> 

</div>

<div class=" container row" style="margin-left:200px ;">
    <div class="col">
        <p>Email</p>
<a href>info@superherocheesecake.com</a>
<br><br><br>
<p>Phone</p>
+31 (0) 20 763 0020
    </div>
    <div class="col">
        <br>We are an award-winning digital creative studio from Amsterdam, in the business of creating unforgettable interactive experiences with people like you.
Maybe. We’ve only just met, but we’ve got a good feeling already.

We craft premium digital work for web, mobile and experiential with creative agencies and global brands alike – putting passion, pride and plenty of elbow grease into everything we do.

Take a look at our past work, then get in touch. Or better yet, come by for a beer. It's on the house.
    </div>
    <div class="col">
        <img class="im2" src="https://i.pinimg.com/originals/43/3d/83/433d83f7e481f35245f8c6bb7c7591d8.gif" alt=" film">
    </div>
</div>
</div>