<p>tollydetails works!</p>
<div class="container" style="padding-top: 100px;">
    <a style="font-family: Georgia, 'Times New Roman', Times, serif; border-bottom: 1px solid black;font-size: 70px;">{{employee.title1}}</a>
    <div class="row" >
        <div class="col-2">
    <h4 style="padding-top: 100px;">Directed by</h4>
    <h4>Produced by</h4> 
    <h4>Written by</h4>
    <h4>Starring</h4>
    <h4>Music by</h4>
    <h4>Cinematography</h4>
    <h4>Edited by</h4>
    <h4>Production Company</h4>
    <h4>Distributed by</h4>
    <h4>Release Date</h4>
    <h4>Running Time</h4>
    <h4>Country</h4>
    <h4>Language</h4>
    <h4>Budget</h4>
    <h4>Box office</h4>
    </div>
    <div class="col">
        <h4 style="padding-top: 100px;">Directed by</h4>
        <h4>{{employee.director1}}</h4> 
        <h4>Written by</h4>
        <h4>Starring</h4>
        <h4>Music by</h4>
        <h4>Cinematography</h4>
        <h4>Edited by</h4>
        <h4>Production Company</h4>
        <h4>Distributed by</h4>
        <h4>Release Date</h4>
        <h4>Running Time</h4>
        <h4>Country</h4>
        <h4>Language</h4>
        <h4>Budget</h4>
        <h4>Box office</h4>
        </div>
    </div>
</div>
