
<div class="bg">
 
<div class="container">
    
    <div class="row">

        <div class="col">
          <img class="image" style="padding: 10px;" routerLink="/section2" src="https://resize.indiatvnews.com/en/resize/oldbucket/715_-/entertainmentbollywood/IndiaTv27215f_1.1.jpg">
          
        </div>
    
            <div class="col">
                <h3 style="color: white; font-size: 50px;">Indian Cinema</h3>
                <p style="color: darkgoldenrod;  font-size: larger;">The cinema of India consists of films produced in the Indian nation. Cinema is extremely popular in India. Every year more than 1800 films are made in different languages in India. Mumbai, Chennai , Kolkata, Hyderabad, Thiruvananthapuram-Kochi, Bangalore, Bhubaneshwar-Cuttack and Guwahati are the major centres of film production in India. As of 2013, India ranked first in terms of annual film production , followed by Nigeria, Hollywood and China. In 2012 , India produced 1,602 feature films.</p>
            </div>
    </div>
    

</div>

 