<!-- <app-header></app-header> -->
<nav class="navbar navbar-expand-md navbar-light bg-light mb-1 pl-5">
  <div class="container-fluid row mx-2">

    <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
      <img src="\assets\images\logoYellow.jpg" width="35" height="auto" class="d-inline-block align-top" alt="Logo">
      CinemaPedia
    </a>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
      class="bg-warning pb-2">
      <mat-icon>movie</mat-icon>
    </button>
    <!-- <a  class="btn btn-warning btn-sm" style="float: right;" routerLinkActive='active' routerLink="/merchandise/main/mpage">Visit Our Merchandise Page</a> -->
    <mat-menu #menu="matMenu" style="z-index: 3;" >
      <!-- <button mat-menu-item class="nav-link text-dark bgwarning" routerLinkActive="active" routerLink="home/movie">
        <mat-icon>local_movies</mat-icon>
        <span>Movies</span>
      </button> -->
      <button mat-menu-item class="text-dark bgwarning" routerLinkActive="active" routerLink="/search">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <button mat-menu-item class="text-dark bgwarning" routerLinkActive="active" routerLink="/cinema">
        <mat-icon>whatshot</mat-icon>
        <span>Trending</span>
      </button>
      <!-- <button mat-menu-item class="nav-link text-dark bgwarning" routerLinkActive="active" routerLink="/bolly">
        <mat-icon><i class="fab fa-btc"></i></mat-icon>
        <span>BollyWood</span>
      </button> -->
      <button mat-menu-item routerLinkActive='active' routerLink="/merchandiseMainPage" class="text-dark bgwarning">
        <mat-icon>shop</mat-icon>
        <span>Merchandise</span>
      </button>
      <button mat-menu-item class="text-dark bgwarning" routerLinkActive="active" routerLink="/genres">
        <mat-icon>style</mat-icon>
        <span>Genres</span>
      </button>
      <button mat-menu-item class="text-dark bgwarning" routerLinkActive="active" routerLink="/lang">
        <mat-icon>language</mat-icon>
        <span>Language</span>
      </button>
    </mat-menu>

    <div class="col">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-dark bg-warning" routerLinkActive="active" routerLink="/home">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="text-left col ml-0 pl-0">
      <button type="button" class="btn btn-warning" routerLinkActive="active" routerLink='/search' >
        Search Movies and TV Series
      </button>
    </div> -->
    <!-- <div class="col-1.5 text-right bgwarning rounded">
     <mat-form-field>
      <mat-label class="text-dark font-weight-bold p-1">Language based movies</mat-label>
      <mat-select [(ngModel)]="currentLanguage" (ngModelChange)='onLangSelection($event)'>
        <mat-option *ngFor="let food of foods" [value]="food.value" class="bgwarning">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div> -->
  </div>
</nav>
<!-- id="selectid" class="form-control-mb-12" (change)="modo($event.target.value)" -->
<!-- <div class="container row px-5" *ngIf=LangBasedMovies?.length>
  <div class="col-3" *ngFor="let lang of LangBasedMovies">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w780{{lang.poster_path}}" style="width: 250px; height: auto;" alt="Naruto">
  </div>
</div> -->
<router-outlet></router-outlet>
<!-- <app-home-footer></app-home-footer> -->
<!-- <app-home4ff></app-home4ff> -->
<!-- <h1>page 2</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <ul class="nav nav-pills">
    <li class="pt-2 px-3 nav-item">
      <a
        class="nav-link text-dark bg-warning"
        routerLinkActive="active"
        routerLink="/section1"
        >Section 1</a
      >
    </li>
    <li class="pt-2 px-3 nav-item">
      <a
        class="nav-link text-dark bg-warning"
        routerLinkActive="active"
        routerLink="/section2"
        >Section 2</a
      >
    </li>
    <li class="pt-2 px-3 nav-item">
      <a
        class="nav-link text-dark bg-warning"
        routerLinkActive="active"
        routerLink="/section3"
        >Section 3</a
      >
    </li>
  </ul>
</nav> -->

<!-- 
  <nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
</nav>
-------------------------
<ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLinkActive="active"
          routerLink="/home"
          >Home</a
        >
      </li>
    </ul>
    -------------------
    <div class="container row mx-3">
    <div class="col-9">
      <h1>Top IMDB Movies:</h1>
    </div>
    <div class="col-3">
      <h1>Sorting:DropDown</h1>
    </div>
  </div>
  ==========================
   <li class="pt-2 px-3 nav-item">
          <a
            class="nav-link text-dark bg-warning"
            routerLinkActive="active"
            routerLink="/hollywood"
            >Hollywood</a
          >
        </li>
        <li class="pt-2 px-3 nav-item">
          <a
            class="nav-link text-dark bg-warning"
            routerLinkActive="active"
            routerLink="/movie"
            >Popular</a
          >
        </li>
        <li class="pt-2 px-3 nav-item">
          <a
            class="nav-link text-dark bg-warning"
            routerLinkActive="active"
            routerLink="/tollywood"
            >Tollywood</a
          >
        </li>
        <li class="pt-2 px-3 nav-item">
          <a
            class="nav-link text-dark bg-warning"
            routerLinkActive="active"
            routerLink="/home"
            >Kollywood</a
          >
        </li> -->
<!-- <li class="pt-2 px-3 nav-item">
          <a
            class="nav-link text-dark bg-warning"
            routerLinkActive="active"
            routerLink="home/movie"
            >Popular</a
          >
        </li>
      -->