
<app-mheader></app-mheader> <br> <br> <hr>
<section class="policy container">
    <p> <span > How do I return or exchange my products? </span>
        <br>We at Fit 'N' FilmHolics strive to give you a quality product of your choice. However, if you receive an incorrect / damaged product, you can mail us at contact@fitNfilmholics.in and mail the product to us at the following address. 
        <br>Fit 'N' FilmHolics
        <br>7G, Rainbow Colony,
        <br>Chennai - 600028
        <br>Tamil Nadu
    </p>

    <p>Items will have to be unused and returned in their original packaging within 15 days of delivery.</p>

    <p>International orders are not eligible for return / exchange unless an incorrect product has been delivered.</p>


    <p><span> What is Fit 'N' FilmHolics's Exchange Policy? </span>
        <br>You can send it back to us within 15 days of the delivery. We will either replace it with another product of the same value, or offer credit on a future purchase in the form of a Fit 'N' FilmHolics voucher.
    </p>


    <p><span>How do I send the product back? </span>
        <br>You can send it back to us via a cost-effective courier company or registered post.
    </p>

    <p><span>Can Fit 'N' FilmHolics arrange for the product to be picked up from my address?</span>
        <br>Reverse pickup will be arranged only in the following conditions.
    </p>

    <p>Product damaged when received
        <br>Product is defective in any way
        <br>If your address falls in the list of serviceable PIN codes (ie, for this particular service), we can definitely arrange for the product to be picked up from your address.
    </p>

    <p> <span> Will I have to pay for returning the products? </span>
        <br>Yes, you will have to bear the postal charges for sending your products back to us.
    </p>

    <p><span> I have received a wrong / defective product. How do I proceed? </span>
        <br>Please send us images of the product at contact@fitNfilmholics.in and our Customer Care Executive will get back to you. We will arrange for a reverse pickup and once we have received the product, we will reimburse you in the form of a  Fit 'N' FilmHolics voucher.
    </p>

    <p><span> Can I get a refund on a cancelled order?</span>
        <br>Refund will be processed through same mode within 10 working days. Customer can cancel the order within 1 hour after placing the order
    </p>

    <p>If you have any further questions about the return/exchange policy then please contact us at contact@fitNfilmholics.in</p>
</section>
<br><br> <hr>
<footer-m></footer-m>
