<!--p>category works!</p>

< <div class="container">
<ul>
    <li *ngFor="let file of files" (click)="openfile(file.url)">{{file.name}}</li>
</ul>
<div >
<button (click)="play()">Play</button>
<button (click)="pause()">Pause</button>
<button (click)="stop()">stop</button>

</div>


    <input  style="width: 20%;"type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
    <mat-slider min="0" max="1" step="0.01" value="0.5"(input)="setVolume($event)"></mat-slider>

</div> -->
<div class="container " style="padding-top: 50px;">
    <div class="col" style="padding-bottom: 50px;">
        <div class="blink"><span>Click image to view details</span></div>
        </div>
    <h1><b style="font-size: 50px; color: #ffba37;">Top Music Directors of K'Town</b></h1>
    <div class="row" >
        <div class="col-lg-4" *ngFor="let employee of employees ">
            <img routerLink="/music-details/{{employee.id}}" src="{{employee?.img}}">
           
            <h3 style="max-width: 200px;text-align: center; color: darkgoldenrod; font-weight: 600;">{{employee?.name}}</h3>
        </div>
        
       
    </div>
    
</div>