<!-- <p>faq works!</p> -->
<app-mheader></app-mheader> <br> <br> <hr>
<div id="content" class="col-md-12 center-column content-with-background">
    <div class="row">
      <div class="col-sm-12">
        <div class="container-indent">
                <div class="container container-fluid-custom-mobile-padding">
                    <h1 class="tt-title-subpages" style="color: #ffba37;">FAQ</h1>
                    <h1 class="tt-title-subpages">ANSWERS TO YOUR QUESTIONS</h1>
                    <!-- collapse 1 -->
                    <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false">
                        <h2 class="color-def small"></h2>
                        <h2 class="color-def small">PRODUCT AND SIZING INFO</h2>
                    </a>
                    <div id="collapse1" class="collapse" aria-expanded="false" style="height: 0px;">
                        <h3>T-Shirts</h3>
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="tt-box-faq">
                                            <h6 class="tt-title"><a href="#">What material is used for Fit 'N' FilmHolics T-Shirts?</a></h6>
                                            <p>We use high quality 100% cotton fabric that is soft to feel and comfortable to wear. Shrinkage if any will be within acceptable industry norms.</p>
                                        </div>
                                        <div class="tt-box-faq">
                                            <h6 class="tt-title"><a href="#">What T-Shirt sizes do you have?</a></h6>
                                            Our sizes run from S to XXL. You can use our size chart to find the right fit for you.
                                        </div>
                                    </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#"> What kind of printing is used for the T-Shirts?</a></h6>
                                        We use high quality ‘Direct-To-Garment’ Printing.
                                    </div>
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What are the washing instructions for Fit 'N' FilmHolics Tees?</a></h6>
                                        <ul>
                                        <li>Hand wash your t-shirts. This increases the life of your t-shirt and we highly recommend it.</li>
                                        <li>Do not iron the print.</li>
                                        <li>Do not bleach or tumble dry.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Posters</h3>
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What material is used for Fit 'N' FilmHolics posters?</a></h6>
                                        <p>All Fit 'N' FilmHolics posters are digitally printed on high-quality matte-card paper.</p>
                                    </div>
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What is the standard size for Fit 'N' FilmHolics posters?</a></h6>
                                        Our posters come in two different sizes: A3 and A4.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Do you have framed posters?</a></h6>
                                        Yes, we have both framed and unframed posters.
                                    </div>
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">How are the posters packed and delivered?</a></h6>
                                        Our posters are packed in high-quality, thick cardboard poster tubes and Framed Posters are bubble-wrapped and packed in thick corrugated cardboards.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <br>
                        <h3>Phone Cases</h3>
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What material is used for Fit N FilmHolics phone cases?</a></h6>
                                        <p>All Fit N FilmHolics posters are digitally printed on high-quality matte-card paper.</p>
                                    </div>
                                <div class="tt-box-faq">
                                <h6 class="tt-title"><a href="#">For which phone models do you have phone cases for?</a></h6>
                                You can check the phone case page which has list for more than 200 phone models from which you can select.</div>
                                </div>
                            </div>
                            </div> -->
                        <br>
                        <h3>Mugs</h3>
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What material are they made of?</a></h6>
                                        <p>Our mugs are made of ceramic as they are strong and brittle. .</p>
                                    </div>
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What kind of printing is used?</a></h6>
                                        We use 3D sublimation printing technology to print onto our mugs.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What is the standard Capacity of a Fit N FilmHolics Mug? </a></h6>
                                        All Fit N FilmHolics Mugs come in a standard capacity of 11 ounces (330 ml).
                                    </div>
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Can the mugs be used in microwave or dishwasher?</a></h6>
                                        The mugs are microwave and dishwasher-friendly.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Badges</h3>
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What material is used for Badges?</a></h6>
                                        <p>All Fit N FilmHolics Badges/Magnets are made of Plastic with a standard size of 58mm.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Collapse2 -->
                    <hr class="hr-01">
                    <a data-toggle="collapse" href="#collapse2" class="" aria-expanded="true">
                        <h2 class="color-def small">DISCOUNTS &amp; GIFT VOUCHERS</h2>
                    </a>
                    <div id="collapse2" class="collapse in" aria-expanded="true" >
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Can I avail any Discounts?</a></h6>
                                        Yes! We always have interesting discounts and offers according to changing trends, interests, and most importantly, with YOU in mind. Just remember to watch out for the offers on our Social Media handles, and don’t forget to Subscribe to our Newsletter. <br>We also give away discount coupons to our customers from time to time; you can redeem these coupons by entering the coupon code on the Shopping Cart page before checking out with your order.
                                    </div>
                                    <div class="tt-box-faq"></div>
                                    <div class="tt-box-faq">NOTE: COUPON CODES ARE NOT APPLICABLE DURING ANY SALE OR OFFER.</div>
                                </div>
                                <!-- <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                    <h6 class="tt-title"><a href="#">Does Fit N FilmHolics have Gift Vouchers?</a></h6>
                                    Yes, please visit the link&nbsp;<a href="https://fullyfilmy.in/products/gift-card">https://fullyfilmy.in/products/gift-card</a>
                                    </div>
                                    <div class="tt-box-faq"><span>Gift cards are delivered by email and contain instructions to redeem them at checkout. Our gift cards have no additional processing fees. Gift Card purchased online can only be redeemed on our online store.</span></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Collapse 3 -->
                    <hr class="hr-01">
                    <a data-toggle="collapse" href="#collapse3" class="" aria-expanded="true">
                        <h2 class="color-def small">PRIVACY</h2>
                    </a>
                    <div id="collapse3" class="collapse in" aria-expanded="true">
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <h6 class="tt-title"><a href="#">What information does Fit N FilmHolics store?</a></h6>
                                    We respect your privacy. The only information we collect is your name, email, contact number and billing address. This information is just used for internal record keeping and we do not share it with any third party companies. Fit N FilmHolics does not store any Credit/Debit card or bank account information. All this information is handled by PayU Money which is our certified, secure online payment gateway partner. Read our PRIVACY POLICY to learn more.
                                </div>
                                <!-- <a href="https://fullyfilmy.in/pages/privacy-policy" target="_blank" title="privacy policy" rel="noopener noreferrer">Privacy policy</a> -->
                                <div class="col-sm-12 col-md-12"></div>
                            </div>
                        </div>
                    </div>
                

                    <!-- ---------------- -->
                    <!-- collapse 4 -->
                    <hr class="hr-01">
                    <a data-toggle="collapse" href="#collapse4" class="" aria-expanded="true">
                        <h2 class="color-def small">PAYMENT DETAILS</h2>
                    </a>
                    <div id="collapse4" class="collapse in" aria-expanded="true" >
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What payment options does the secure PayU Money gateway offer?</a></h6>
                                        Our PayU Money payment gateway accepts Indian credit cards (MasterCard/Visa), Amex Cards Issued in India, All Net Banking, All Debit Cards, Cash Cards &amp; Mobile Payment as payment options.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                    <h6 class="tt-title"><a href="#">Can I pay by cash when my order is delivered?</a></h6>
                                    Yes, we do offer Cash on Delivery to most locations in India.</div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What payment methods do you accept for International orders?</a></h6>
                                        For international orders, payments can be done using the PayU payment gateway.
                                    </div>
                                    <div class="tt-box-faq"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse 5 -->
                    <hr class="hr-01">
                    <a data-toggle="collapse" href="#collapse5" class="" aria-expanded="true">
                        <h2 class="color-def small">SHIPPING</h2>
                    </a>
                    <div id="collapse5" class="collapse in" aria-expanded="true">
                        <div class="tt-box-faq-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">What are the Shipping Charges?</a></h6>
                                        Paid Orders : Fit 'N' FilmHolics offers free shipping across India for paid orders with order values greater than Rs.&nbsp;1000 and a charge of Rs. 50 for orders below Rs. 1000. Cash on Delivery : For COD(Cash on Delivery) orders, we charge a nominal&nbsp;Rs. 100 as a COD fee.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                    <h6 class="tt-title"><a href="#">Do you offer Cash on Delivery(COD)?</a></h6>
                                    Yes, we do offer Cash on Delivery(COD) as one of the payment options only for orders across India. We charge a nominal Rs.100 as shipping charge for all COD orders.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Do you accept international orders?</a></h6>
                                        Yes, Fit 'N' FilmHolics ships worldwide and we do accept International orders. However, there will be an International Shipping Charge depending upon your country of residence and overall weight of the order. Shipping charges will be clearly mentioned on the checkout page after you enter your shipping address before making the payment. You can place the order on the website and use the PayU payment gateway. You may be required to pay customs charges (if any) when your order reaches your local customs office. For any other queries, please write to us at contact@fitNfilmholics.in or call us at <span>+91 730 372 3724</span> (Monday - Friday) between 10 AM and 5 PM and we’d be glad to help you out with the same.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Will I get a discount for orders with more no. of products?</a></h6>
                                        No, but we suggest that you order more no. of products if it’s an international order because Shipping Charge depends primarily on the weight of the package. In doing so, you will get more products and value for the Shipping Charge.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">How long will my order take to deliver?</a></h6>
                                        Orders within India are usually delivered within 5-7 working days. Orders that are completed on a Saturday, Sunday, public holiday or after 11:30am on a normal working day are processed on the next working day. International orders will take 7 - 10 days to get processed and then 5-10 days to be delivered depending on the location.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Will I receive my entire order in a single package?</a></h6>
                                        It depends on the type/combination of products that you have ordered. We have different vendors for different products so your order might reach you in different packages.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="tt-box-faq">
                                        <h6 class="tt-title"><a href="#">Will I be able to alter details of my order after the order is placed?</a></h6>
                                        Yes, you can definitely update your information or change the product within 24 hours from the time of order. You can do so by mailing us at contact@fitNfilmholics.in or call us at <span>+91 9797979898</span> (Monday - Friday) between 10 AM and 5 PM and we’d be glad to help you out with the same.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="tt-box-faq">
                                    <h6 class="tt-title"><a href="#">How should I check the status of my Order?</a></h6>
                                    Once your order is placed, we will send you a confirmation mail and we will notify you again via email with the Tracking ID once the order is shipped. You can track your order using the same. If you have any other query, write to us at contact@fullyfilmy.in, and your issue will be addressed.
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
</div>
<br> <br> <hr>
<footer-m></footer-m>