<!-- <p>views works!</p> -->

<div class="row">
    <div class="col">
        <img [src]="productItem.imageUrl" alt="displayimg" style="width: 70%;">
    </div>
    <div class="col">
            <h2>{{productItem.name}}</h2><br>
            <h2>{{productItem.price | currency:'INR'}}</h2> <br>
            <!-- <label for="">Qty</label> <br>
            <button class="btn btn-outline-warning mr-1">+</button>
            <input type="number" style="height: 40px;width: 40px; border-color: #ffba37;" />
            <button class="btn btn-outline-warning ml-1">-</button> <br> <br> -->
            <button class="btn btn-warning "(click)="handleAddToCart()">Add to Cart</button> <br> <br>

            <!--  -->
            <div *ngIf="productItem.imageSizeChartUrl">
              <label for="single-option-selector-0">Size:<span class="option-select-value" id="option-select-value-product-template-0"></span></label>
              <select *ngIf="!productItem.cat">
                <option value=""></option><option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
              </select>
              <select *ngIf="productItem.cat" >
                <option value=""></option>
                <option value="M">A3</option>
                <option value="L">A4</option>
              </select>
            </div>
            <!--  -->

            <!-- size chart -->
            <!-- Button trigger modal -->
            <span *ngIf="productItem.imageSizeChartUrl" type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
                Size Chart
            </span> 
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Size Chart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <img [src]="productItem.imageSizeChartUrl" alt="sizechart" style="width: 70%;">
                    <img src="" alt="">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
    </div>
</div> 
<br>
<hr>
<br>
<!-- details collapse -->
<div class="accordion" id="accordionExample" >
    <div class="card ">
      <div class="card-header " id="headingOne">
        <h2 class="mb-0">
          <span class=" btn-block " style="color: #ffba37;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Description <span class="float-right mr-1">+</span>
          </span>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          {{productItem.description}}
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header " id="headingFour">
        <h2 class="mb-0">
          <span class=" btn-block " style="color: #ffba37;" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Product Information <span class="float-right mr-1">+</span>
          </span>
        </h2>
      </div>
  
      <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          {{productItem.ProductInformation}}
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header " id="headingOne">
            <h2 class="mb-0">
              <span class=" btn-block " style="color: #ffba37;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                Shipping Details <span class="float-right mr-1">+</span>
              </span>
            </h2>
        </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          {{productItem.shoppingDetails}}
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header " id="headingOne">
            <h2 class="mb-0">
              <span class=" btn-block " style="color: #ffba37;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                About Us <span class="float-right mr-1">+</span>
              </span>
            </h2>
        </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          {{productItem.about}}
        </div>
      </div>
    </div>
    
  </div>
<router-outlet></router-outlet>