<app-mheader></app-mheader> <br> <br> <hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <img src="https://media.tenor.com/images/b95474b4e57295c82fb7ffc3b882e683/tenor.gif" alt="verified">
                    <span class="float-right arrange ml-5">Your Order has been placed successfully!!</span>
                </div>
                <div class="card-body text-center">
                    <a routerLink="/merchandiseMainPage">
                        <button class="btn btn-outline-warning text-center">Continue Shopping <i class="fa fa-shopping-bag"></i> </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br> <br> <hr>
<footer-m></footer-m>
