
<!-- footer social media -->
<footer>
<div class="pattern">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">'
                    <div class="html">
                        <h4 class="title">
                            <section>
                                <p style="color:#ffba37">Fit |Film | FindUs | Friends</p>
                            </section>
                        </h4>
                        <div class="strip-line"></div>  
                        <div class="clearfix">
                            <section>
                                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                    <img class=" lazyloaded" src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons1_134x134_crop_center@2x.jpg?v=1596170287" data-src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons1_134x134_crop_center@2x.jpg?v=1596170287" alt="" width="50x50" height="50x50">
                                </a>&nbsp; &nbsp;
                                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img class=" lazyloaded" src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons2_134x134_crop_center@2x.jpg?v=1596170289" data-src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons2_134x134_crop_center@2x.jpg?v=1596170289"  alt="" width="50x50" height="50x50">
                                </a>&nbsp; &nbsp;
                                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img class=" lazyloaded" src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons3_134x134_crop_center@2x.jpg?v=1596170291" data-src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons3_134x134_crop_center@2x.jpg?v=1596170291" alt="" width="50x50" height="50x50">
                                </a>&nbsp; &nbsp;
                                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img class=" lazyloaded" src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons4_134x134_crop_center@2x.jpg?v=1596170293" data-src="https://cdn.shopify.com/s/files/1/1002/7150/files/Social-Media-Icons4_134x134_crop_center@2x.jpg?v=1596170293" alt="" width="50x50" height="50x50">
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Footer main -->
<section class="last">
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Need Help ?</h2>
            <div class="element">
                <li><a  routerLink="/contact">Contact Us</a></li>
                <li><a  routerLink="/track">Track My Order</a></li>
                <li><a  routerLink="/faq">FAQs</a></li>
            </div>
          </div>
          <div class="col">
            <h2>Company</h2>
            <div class="element">
                <li><a  routerLink="/about">About us</a></li>
                <li><a  routerLink="/bulkorder">Bulk Order</a></li>
                <li><a  routerLink="/careers">Careers</a></li>
                
            </div>
          </div>
          <div class="col">
            <h2>More Info</h2>
            <div class="element">
                <!-- <li><a  routerLink="/my-account">My Account</a></li> -->
                <li><a  routerLink="/returnpolicy">Return Policy</a></li>
                <li><a  routerLink="/terms">Terms and Conditions</a></li>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Explore -->
    <section class="explorer">
              <div class="accordion" id="accordionExample">
                  <div class="card" style="background-color: #ffba37;">
                    <div class="card-header" id="headingOne" >
                      <h2 >
                        <button class="btn btn-block text-left" style="color: #ffba37; background-color:#595959 ;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Explore More!!! <span style="margin-left: 90%;">+</span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body" style="background-color: #595959; color:#fff;">
                          <h3 > Fit And Film-Holics. The Ultimate Movie Merchandise Destination.</h3>
                          <p style="text-align:justify">
                            Established in the year 2020. Fit And Film-Holics is a lifestyle brand that produces innovative, distinctive and fashionable fashion t-shirts and merchandise for the movie fan. FFH was founded with the ultimate goal of putting together a community of incredible people to see how they can create something that unites every Indian who is fascinated with films and turn that fascination into a lifestyle that goes beyond that. When that happened, Fit And Film-Holics #Cinemapedia Product, was born.</p>
                          
                          <p style="text-align:justify">We enjoy playing openly and striving to carry out the most artistic and groundbreaking work in our t-shirt designs. Our range of items is still new and up-to - date, and we aim to bring fun to the people who wear our t-shirts. We ensure that high-quality trendy goods are manufactured at competitive prices. As a thoughtful brand, we are consciously seeking to minimise our environmental footprint and maximise our social impact.These initiatives are blended straight into our day-to-day activities by eliminating chemicals and introducing paper bags and paper packets. </p>
                          
                          
                          <h3>Online shopping at FFH is convenient and super easy.</h3>
                          <p style="text-align:justify">Online shopping is one of the most simple and hassle-free ways to buy things and make it easier to be at home and bring the product to the house. Gone are the days when we decided to have our shopping days in advance and to drive all the way to make a buy. At today's time and technological developments, you can do all of this at home safely sitting in your bed and surfing the internet. By using one of the robust user interfaces and attractive discount-oriented customer influencing sites in India. You can purchase all your favourite movie-based t-shirts and merchandise and witness the convenient shopping experiences. This is what shopping at FFh is all about.</p>
                          <p style="text-align:justify">FFH is the place to be when it comes to movie-based t-shirts and apparel and high quality funky and cool outfits. You will browse through our fun categories, from men's wear to women's and children's outfits, and an impressive selection of accessories for your day-to-day use, all of which are filled with our exclusive sales and discounts that make your shopping a fun one. You can even buy our t-shirts and goods and give them as a present to somebody and see a smile on their face.</p>
                          
                          <h3>Benefits of shopping at FFH.</h3>
                          <p style="text-align:justify">
                          Choose your product, get it ordered online, and we ensure that its delivery happens right at your doorstep across the India. All you need to do is shop for the product at your convenience and pay for them at the comfort of your home and we will make sure that the product is packed and dispatched to you on time. For any second thoughts after purchase, we have in place a return policy as well. For your online shopping experience to be safe and risk-free, we offer Cash on Delivery (COD) facility too. So, you don’t have to worry anymore about your hard-earned money being stuck somewhere. Make sure to use our easy 15-day returns policy, card or cash on delivery option and other customer-friendly features. A comprehensive sizing guide and detailed product descriptions coupled with high-resolution product shots of our t-shirts and merchandise will give you all the information to make the right buying decision. </p>
                          <h3>Range of accessories.</h3>
                          <p style="text-align:justify">
                          We don’t stop with just clothing ranges like tshirts, hoodies, boxers and solids. We also extend and offer you amazing accessories such as mobile cases, keychains, mugs, notebooks, stickers, posters, wallets and backpacks to choose from.</p>
                          <p style="text-align:justify">
                          As for our accessories. They are manufactured with impeccable and premium quality material and swag that will glam up your style quotient. We try to target all kinds of customers and cater to their needs and preferences.</p>
                          <h3>Why and what can you wear?</h3>
                          <h4>
                              What choices do you have?
                          </h4>
                          <br> 
                          <li>Plain tshirts</li>
                          <li>Funny printed tshirts</li>
                          <li>Movies and TV show tshirts</li>
                          <li>Full Sleeve tshirts</li>
                          <br>
                          <h4>Why’d you wear a graphic printed tee?
                          </h4>
                          <br>
                          <li>They can be worn by everyone.</li>
                          <li>They’re catchy.</li>
                          <li>They are incredibly comfortable.</li>
                          <li>They're too casual.</li>
                          <li>They are within our budget.</li>
                          <li>They never go out dated.</li>
                      </div>
                    </div>
                  </div>
                </div>
    </section>

</footer>
<router-outlet></router-outlet>

