<!-- <p>terms works!</p> -->
<app-mheader></app-mheader>
<br> <br> <hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="content" class="col-md-12 center-column content-with-background">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong><strong><br></strong></strong>
                            <h6>
                            <b>The use of this website is subject to the following terms of use:</b>&nbsp;</h6>
                            <ul>
                                <li style="font-weight: 400;">
                                <span style="font-weight: 400;">The website</span><a href="#"><span style="font-weight: 400;"> https://fitNfilmHolics.in/</span></a><span style="font-weight: 400;"> is owned and operated by CINEMAPEDIA</span>
                                </li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">The content of the pages of this website is for your general information and use only. It is subject to change without notice.</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority.</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">The submission of personal information is governed by our Privacy policy. </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Price of our product might change without any notice. Fit 'N' FilmHolics will not be liable you or any third-party for price change, modification or suspension of a product.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br> <br> <hr>
<footer-m></footer-m>