<!-- <p>about works!</p>
<p>about works!</p> -->
<app-mheader></app-mheader> <br> <br> <hr>
<div class="main-content full-width">
    <div class="background-content"></div>
    <div class="background">
      <div class="shadow"></div>
      <div class="pattern">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
              <div class="row">
                <div id="content" class="col-md-12 center-column content-with-background">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 style="text-align: center;">Because we love movies. And we know you do too.&nbsp;</h2>
                            <div style="text-align: center;">We're a nation obsessed with movies. Some of us like Action, some of us are fools for Romance, some of us love being on the edge-of-the-seat and some of just love our heroes. In some way or the other, movies have gone beyond being a form of entertainment: they've become a part of our lives.</div>
                            <div style="text-align: center;">&nbsp;</div>
                            <div style="text-align: center;">And then, we had an idea. An idea to create something that unites every Indian who is as obsessed with films as we are. An idea that goes beyond the boundaries of Bollywood, Kollywood, Tollywood and Hollywood.</div>
                            <div style="text-align: center;">&nbsp;</div>
                            <div style="text-align: center;">This was when it happened: the birth of <strong>Fit N Film-holics, India's Movie Merchandise Destination.</strong>
                            </div>
                            <div style="text-align: center;">&nbsp;</div>
                            <div style="text-align: center;">So, grab your popcorn and take a seat.</div>
                            <div style="text-align: center;">The show's just begun.</div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
  <br> <br> <hr>
  <footer-m></footer-m>
