<p>tolly works!</p>

    <div class="container">
        <h1>Highest-grossing Telugu Films By Year</h1>
        <nav class="navbar">
          <input class="form-control" type="text" name="title1" [(ngModel)]="title1" (ngModelChange)="Search()" placeholder="Enter a Movie Name">
        </nav>
     <table class="table table-bordered">
       <thead>
         <tr>
           <th>SI.NO</th>
           <th>MOVIE</th>
           <th>DIRECTOR</th>
           <th>STUDIO</th>
           <th>YEAR</th>
         </tr>
       </thead>
       <tbody>
         <tr  *ngFor="let employee of employees">
           <td>{{employee?.id}}</td>
           <td routerLink="/tollydetails/{{employee.id}}">{{employee?.title1}}</td>
           <td>{{employee?.director1}}</td>
           <td>{{employee?.studio1}}</td>
           <td>{{employee?.year1}}</td>
         </tr>
       </tbody>
     </table>
     </div>
    
    