<div class="bg1">

  <div class="bg1" style="color: white;">
    
    
    <div class="container">  
        <h1 class="display-inline" style="text-align: center;padding-top: 100px;font-size: 70px;text-align: left; "><strong style="color: #ffba37;">Tamil Cinema</strong></h1>
      <div class="row" style="padding-top:50px">
        <div class="col-md-4">
              
               <h2 style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" routerLink="/movietolly" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-film" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0h8v6H4V1zm8 8H4v6h8V9zM1 1h2v2H1V1zm2 3H1v2h2V4zM1 7h2v2H1V7zm2 3H1v2h2v-2zm-2 3h2v2H1v-2zM15 1h-2v2h2V1zm-2 3h2v2h-2V4zm2 3h-2v2h2V7zm-2 3h2v2h-2v-2zm2 3h-2v2h2v-2z"/>
              </svg> &nbsp; Movies<i class='fas fa-arrow-circle-right' style='font-size:30px' ></i></h2>
               <h2  style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" routerLink="/herotolly" >Actors<i class='fas fa-arrow-circle-right' style='font-size:30px' ></i></h2>
               <h2 style="padding: 20px;border: 1px solid black ;text-align: center;font-size:30px" routerLink="/dirtolly" > <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-reels-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 8a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8z"/>
                <circle cx="3" cy="3" r="3"/>
                <circle cx="9" cy="3" r="3"/>
              </svg> &nbsp;Directors<i class='fas fa-arrow-circle-right' style='font-size:30px'></i></h2>
               <h2 style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" routerLink="/directorstolly" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
                <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
              </svg> &nbsp;Music Directors<i class='fas fa-arrow-circle-right' style='font-size:30px' ></i></h2>
                
              </div>
              <div class="col-md-8">
                <h2 style="color: #ffba37;">Tollywood</h2>
                <p>Telugu cinema, is the segment of Indian cinema dedicated to the production of motion pictures in the Telugu language, widely spoken in the states of Andhra Pradesh and Telangana. Telugu cinema is based in Film Nagar, a neighborhood of Hyderabad, India. Since 1909, filmmaker Raghupathi Venkaiah was involved in producing short films and travelling to different regions in Asia to promote film work. In 1921, he produced the silent film, Bhishma Pratigna.He is cited as the father of Telugu cinema.</p>
                <h3 style="color: #ffba37;">Trivias</h3>
                <p>Telugu cinema, also known by its sobriquet ‘Tollywood’ is one of the biggest movie production industries in the Country. It’s been 85 years since ‘Telugu cinema’ began it’s journey with “Bhakta Prahlada” (1931) the first sound picture ever in Telugu.
    
                  Among the myriad interesting and unknown facts about Telugu films, we bring out few of them below:
                  
                  The legendary Akkineni Nageshwar Rao was the first choice of Hero and either Mukkamala or Govindarajula Subbarao was the villain for the evergreen Telugu classic film “Pathala Bhairavi.” But the roles eventually went to another legend Nandamuri Taraka Rama Rao as the hero and S.V. Ranga Rao as the villain.
                  With the same film, the concept of ‘heroism’ for the Telugu film had kick started which has changed the character of a hero into a courageous and daring one. The first hero, N.T.R., catapulted to super stardom making him the most admired ‘Mass Hero.’
                  Senior N.T.R., has approached A.N.R., to play the role of Lord Krishna in his directorial venture “Daana Veera Soora Karna,” but A.N.R., had amicably turned down the offer saying he cannot match the stature of N.T.R., in the roles of a deity.
                  One of the most talented actors of all-time A.N.R., and Shivaji Ganesan acted together for the first time in “Paradesi.” Interestingly, A.N.R., played Sivaji Ganeshan’s father in the movie.
                  The cult classic “Shankarabharanam” directed by the thespian K. Viswanath released on January 14, 1980, in only one theater had only a 4 member audience for the first show! Later the movie went viral and turned up as the biggest hit of the year 1980.</p>
        
              </div>
      </div><br>
     
      
      </div>
  </div>
  </div>
  
<!--div class="bg1">
  
  <div class="bg1">
  
  



    <div class="bg">
    <a href="/section2">back</a>
    </div>
    <div class="bg1" style="color: white;">
      
      
      <div class="container">  
          <h1 class="display-inline" style="text-align: center;padding-top: 100px;font-size: 70px;text-align: left; "><strong style="color: #ffba37;">Tamil Cinema</strong></h1>
        <div class="row" style="padding-top:50px">
          <div class="col-md-4">
                
                 <h2   routerLink="/employees" style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" >Movies<i class='fas fa-arrow-circle-right' style='font-size:30px' ></i></h2>
                 <h2   routerLink="/hero" style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" >Actors<i class='fas fa-arrow-circle-right' style='font-size:30px' ></i></h2>
                 <h2  routerLink="/directors"style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" >Directors<i class='fas fa-arrow-circle-right' style='font-size:30px'></i></h2>
                 <h2   routerLink="/category" style="padding: 20px;border: 1px solid black;text-align: center;font-size:30px" >Music Directors<i class='fas fa-arrow-circle-right' style='font-size:30px' ></i></h2>
                  
                </div>
          <div class="col-md-8">
            <h2 style="color: #ffba37;">Tollywood</h2>
            <p>Telugu cinema, is the segment of Indian cinema dedicated to the production of motion pictures in the Telugu language, widely spoken in the states of Andhra Pradesh and Telangana. Telugu cinema is based in Film Nagar, a neighborhood of Hyderabad, India. Since 1909, filmmaker Raghupathi Venkaiah was involved in producing short films and travelling to different regions in Asia to promote film work. In 1921, he produced the silent film, Bhishma Pratigna.He is cited as the father of Telugu cinema.</p>
            <h3 style="color: #ffba37;">Trivias</h3>
            <p>Telugu cinema, also known by its sobriquet ‘Tollywood’ is one of the biggest movie production industries in the Country. It’s been 85 years since ‘Telugu cinema’ began it’s journey with “Bhakta Prahlada” (1931) the first sound picture ever in Telugu.

              Among the myriad interesting and unknown facts about Telugu films, we bring out few of them below:
              
              The legendary Akkineni Nageshwar Rao was the first choice of Hero and either Mukkamala or Govindarajula Subbarao was the villain for the evergreen Telugu classic film “Pathala Bhairavi.” But the roles eventually went to another legend Nandamuri Taraka Rama Rao as the hero and S.V. Ranga Rao as the villain.
              With the same film, the concept of ‘heroism’ for the Telugu film had kick started which has changed the character of a hero into a courageous and daring one. The first hero, N.T.R., catapulted to super stardom making him the most admired ‘Mass Hero.’
              Senior N.T.R., has approached A.N.R., to play the role of Lord Krishna in his directorial venture “Daana Veera Soora Karna,” but A.N.R., had amicably turned down the offer saying he cannot match the stature of N.T.R., in the roles of a deity.
              One of the most talented actors of all-time A.N.R., and Shivaji Ganesan acted together for the first time in “Paradesi.” Interestingly, A.N.R., played Sivaji Ganeshan’s father in the movie.
              The cult classic “Shankarabharanam” directed by the thespian K. Viswanath released on January 14, 1980, in only one theater had only a 4 member audience for the first show! Later the movie went viral and turned up as the biggest hit of the year 1980.</p>
    
          </div>
        </div><br>
       
        
        </div>
    </div>
    
  
</div>
</div-->


