<section>
        <!-- Header -->
    <app-mheader></app-mheader>
    <br>
    <hr>
    <!-- Shopping page starts -->
    <div class="container">
        <div class="row">
            <!-- <div class="col">
                <app-filters></app-filters>
            </div> -->
            <div class="col-md-8">
                <app-products></app-products>
                <!-- <router-outlet></router-outlet> -->
            </div>
            <div class="col-md-4">
                <app-cart></app-cart>
            </div>
        </div>
    </div>
    <!-- Shopping page ends -->
    <br>



    <hr>
    <!-- Footer -->
    <footer-m></footer-m>
</section>
