<!-- <p>careers works!</p> -->
<section>
  <app-mheader></app-mheader> <br> <br> <hr>
<div class="container">
<div class="background">
    <div class="shadow"></div>
    <div class="pattern">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div id="content" class="col-md-12 center-column content-with-background">
                  <div class="row">
                      <div class="col-sm-12">
                      <div style="text-align: center;"><h1>Join us. Join Earth's mightiest heroes.</h1></div>
                      <div style="text-align: center;"><b></b></div>
                      <div style="text-align: center;"><b></b></div>
                      <div style="text-align: center;"><b></b></div>
                      <div style="text-align: center;">
                          <b>Well, because we create things which people love. We love cinema, and       everything we create has a   filmy touch to it. Our love for cinema has allowed us to be associated with some of the biggest names in the industry, like Mani Ratnam, Rajinikanth, Kamal Haasan, Vikram, Dhanush and Vijay Sethupathi among others. Our products are worn, used, abused and shown off all over the world. Our team of 3 has grown to a team of 40 within a span of three years.
                          </b>
                      </div>
                      <div style="text-align: center;">&nbsp;</div>
                      <div style="text-align: center;"><b>And, at night, we save the world.</b></div>
                      <div style="text-align: center;">&nbsp;</div>
                      <div style="text-align: center;">
                        <b>If you think you can fit in and believe you’re ready for impromptu brainstorms, contagious craziness and unanticipated superhero landings, well you have found the right place.</b>
                      </div>
                      <div style="text-align: center;">&nbsp;</div>
                      <div style="text-align: center;">
                        <b>Shoot over the most honest mail you've ever written to careers@fitNfilmholics.in</b>
                      </div>
                      <div style="text-align: center;"><strong></strong></div>
                      <div style="text-align: center;"><strong></strong></div>
                      <div style="text-align: center;"></div>
                      <div style="text-align: center;"></div>
                      <div style="text-align: center;"></div>
                      &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                      <h3 style="text-align: center;">CURRENT OPENINGS</h3>
                      <div style="text-align: center;"><strong>Graphic Designer</strong></div>
                      <div style="text-align: center;"></div>
                      <div style="text-align: center;">
                      <div>Experience: Senior/Mid-Level</div>
                      <div>Location: Kolkatta</div>
                      <div>Position: Full-time</div>
                      <br>
                      <div><strong>Copywriter</strong></div>
                      <div>
                      <div>Experience: Fresher/Mid-Level</div>
                      <div>Location: Chennai</div>
                      <div>Position: Full-time</div>
                      </div>
                      <!-- Space -->
                      <div>
                      <p>&nbsp;</p>
                      </div>
                      <div></div>
                      <div></div>
                      <div></div>
                      </div>
                      <div style="text-align: center;"><strong></strong></div>
                      <div style="text-align: center;">
                      <div></div>
                      </div>
                      <div style="text-align: center;"><strong></strong></div>
                      <p style="text-align: center;"><strong>&nbsp;</strong>&nbsp;&nbsp;</p>
                      <p style="text-align: center;">&nbsp;</p>
                      <div style="text-align: center;">
                      <div></div>
                      <div></div>
                      </div>
                      <div style="text-align: center;">
                      <div style="text-align: center;"></div>
                      </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
</div>
</div> <br> <br> <hr>
<footer-m></footer-m>
</section>
