#home-header{
    height: 550px;
    background: linear-gradient(rgba(52,41,49,0.8), rgba(26, 33, 74, 0.8)), url('src\assets\images\search_Movies.png');
    background-size: cover;
    bottom: 50px;
  }