<!-- <p>my-account works!</p> -->
<app-mheader></app-mheader> <br> <br> <hr>

<div class="main-content full-width">
    <div class="background-content"></div>
    <div class="background">
      <div class="shadow"></div>
      <div class="pattern">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                <div class="row">
                    <div id="content" class="col-md-12 center-column body-other content-with-background">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="well">
                                    <h2>New Customer</h2>
                                    <p><strong>Register Account</strong></p>
                                    <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                    <a href="#" class="btn btn-primary">Continue</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="customer-login" class="well">
                                    <h2>Returning Customer</h2>
                                    <p><strong>I am a returning customer</strong></p><form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓"><div class="form-group required">
                                    <label class="control-label" for="input-email">E-Mail</label>
                                    <input type="email" required="required" name="customer[email]" placeholder="E-Mail" id="input-email" class="form-control">
                                    </div><div class="form-group required">
                                    <label class="control-label" for="input-password">Password</label>
                                    <input type="password" required="required" name="customer[password]" placeholder="Password" id="input-password" class="form-control">
                                    </div>
                                    <div id="forgot_password">
                                    <a href="#">Forgot your password?</a>
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-warning"><input type="hidden" name="return_url" value="/account"></form>
                                </div>
                                <div id="recover-password" class="well" style="display:none;">
                                    <h2>Reset your password</h2>
                                    <p><strong>I forgot password</strong></p>
                                    <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p><form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">
                                        
                                    <div class="form-group required">
                                        <label class="control-label" for="input-password">E-Mail</label>
                                        <input type="email" required="required" name="email" id="recover-email" class="form-control">
                                    </div>
                                    <div class="action_bottom">
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                        <span class="ml20"><a class="cancel" href="javascript:void(0);">Back</a></span>
                                    </div></form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>    
      </div>
    </div>
</div>
<br> <br> <hr>
<footer-m></footer-m>