<!--p>section2 works!</p> 
<button (click)="onclicks()"> Back</button>
<div class="container" >
    <div class="row">
       
        <div class="col">
            <div class="text">
            <div class="row">
                <div class="col">
            Kollywood
                </div>
            </div>
            <div class="row">
                <div class="col">
            Kollywood
                </div>
                <div class="col">
            Kollywood
                </div>
            </div>

        </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJWnvORm_Xv4WdY4M5oT1Imss65j4yNNPQYA&usqp=CAU" class="card-img" alt="...">
                
              </div>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
            tollywood
                </div>
            </div>
            <div class="row">
                <div class="col">
            tollywood
                </div>
                <div class="col">
            tollywood
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWS-bz60oOS-BrhIsJGTkMwbE9zjsT3iX4Nw&usqp=CAU" class="card-img" alt="...">
                
              </div>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
            mollywood
                </div>
            </div>
            <div class="row">
                <div class="col">
            mollywood
                </div>
                <div class="col">
            mollywood
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFvMciLEEwwr95H9biL95p2FB3gB0hXExwNw&usqp=CAU" class="card-img" alt="...">
                
              </div>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
            bollywood
                </div>
            </div>
            <div class="row">
                <div class="col">
            bollywood
                </div>
                <div class="col">
            bollywood
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSyRLNPrfawbgIxKZH7rpwlVsIDF69mh2TYag&usqp=CAU" class="card-img" alt="...">
                
              </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFvMciLEEwwr95H9biL95p2FB3gB0hXExwNw&usqp=CAU">
        </div>
        <div class="content">
            
            <div class="row">
                <div class="col">
            mollywood
                </div>
                <div class="col">
                    mollywood
                        </div>
            </div>
                        <div class="row">
                            <div class="col">
                                mollywood
                                    </div>
                        </div>
            
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFvMciLEEwwr95H9biL95p2FB3gB0hXExwNw&usqp=CAU">
        </div>
        <div class="content">
            <div class="row">
                <div class="col">
            mollywood
                </div>
                <div class="col">
                    mollywood
                        </div>
            </div>
                        <div class="row">
                            <div class="col">
                                mollywood
                                    </div>
                        </div>
            
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFvMciLEEwwr95H9biL95p2FB3gB0hXExwNw&usqp=CAU">
        </div>
        <div class="content">
            <div class="row">
                <div class="col">
            mollywood
                </div>
                <div class="col">
                    mollywood
                        </div>
            </div>
                        <div class="row">
                            <div class="col">
                                mollywood
                                    </div>
                        </div>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
 <div class="col-4 ">
     <div class="image">
    <img class="image__img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFvMciLEEwwr95H9biL95p2FB3gB0hXExwNw&usqp=CAU" >
     </div></div>
     <div class="col4">
<div class="image__overlay">
        <div class="image__title">mollywood</div>
     </div>
</div>
</div>
</div-->
<div class="cover">

    <div class="container ">
        <h1 style="text-align: center; color:darkgoldenrod; font-style: italic;font-weight: bold;font-size: xx-large;">Indian Cinema Industry</h1> <br> <br> <br>
        <div class="row">
            <div class="col-4">
            <div class="myDIV" style="font-size: larger;">
             -view
             </div>
             <div class="hide" style="font-size: larger;">
                Tamil Cinema is the Indian Filmmaking Industry of Tamil-language motion pictures.It is based in Chennai,TamilNadu,India.
                 </div></div>
        <div class=" col-4">
        <div class="image">
            <img (click)="onclicks1()" src="https://superstarprofiles.com/wp-content/uploads/2016/11/Tamil-Cinema-Collages.jpg" ></div></div>
          

    </div></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
           <div class="col-4" >
            <div class="myDIV" style="font-size: larger;">
             -view
             </div>
            
                <div class="hide" style="font-size: larger;">
                Telugu Cinema, is the segment of Indian Cinema dedicated to the production of motion pictures in the Telugu Language, widely spoken in the states of Andra Pradesh and Telungana 
                 </div></div>
        <div class="col-4">
        <div class="image">
            <img (click)="onclicks2()" src="https://www.filmibeat.com/img/2020/03/untitled14-1584425565.jpg" ></div></div>
            
    </div></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
           <div class="col-4" >
            <div class="myDIV" style="font-size: larger;">
             -view
             </div>
            
                <div class="hide" style="font-size: larger;">
                    Malayalam cinema is the Indian film industry based in the southern state of Kerala, dedicated to the production of motion pictures in the Malayalam language.
                </div></div>
        <div class="col-4">
        <div class="image">
            <img (click)="onclicks3()" src="https://www.sify.com/uploads/1-sm5omBigijcdb.jpg" ></div></div>
            
    </div></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
           <div class="col-4" >
            <div class="myDIV" style="font-size: larger;">
             -view
             </div>
            
                <div class="hide" style="font-size: larger;">
                    Hindi cinema, often known as Bollywood and formerly as Bombay cinema, is the Indian Hindi-language film industry based in Mumbai (formerly Bombay).
                </div></div>
        <div class="col-4">
        <div class="image">
            <img (click)="onclicks4()" src="https://qph.fs.quoracdn.net/main-qimg-32b51bea8453504f4482c1fbdde77dd5" ></div></div>
            
    </div></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
