.container{
   max-width: 1000px;
    max-height: 2000px;
  
    justify-content: center;

}

.image{
    max-width: 750px;
    max-height: 1000px;
    background: crimson;
    float: left;
    transition:1s;
    justify-content: center;
}
.content{
    max-width: 100%;
   
    
}
.image:hover{
    transform:scale(1.3);

}

.contentoverlay:hover{
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.cover{
    /* background-image: url('https://image.slidesharecdn.com/evolutionofindiancinemawithoutmovie-151220210607/95/evolution-of-indian-cinema-1-638.jpg?cb=1450645650');
    z-index: 1;
    background-position: 50%;
    background-size: 50%; */
    background-repeat: no-repeat;
    background-color:pink;
    padding-bottom: 200px;
}
.hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: black;
  }